beautifulsoup4==4.12.3
langchain-community==0.0.38
tiktoken==0.6.0
langchainhub==0.1.15
langchain==0.1.20
langgraph==0.0.48
tavily-python==0.3.3
langchain-openai==0.1.6
python-dotenv==1.0.1
langchain-chroma==0.1.0
unstructured==0.16.23
streamlit==1.42.2
anthropic==0.49.0
openai==1.65.2
pinecone==6.0.1 